@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
html,body{
  margin: 0;
  padding: 0;
  /* background-color: #F3D0D7;
  color: #5967AE; */
  font-family:  "Platypi", serif;
}

.nav-link{
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: "Platypi", serif;
  letter-spacing: 1px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
border-color: white;
}
